// * {
//   background-color: transparent;
//   box-sizing: border-box;
//   border: none;
//   margin: 0;
//   padding: 0;
//   user-select: none;
// }


@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans Regular"), url("../fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 500;
  font-style: normal;
  src: local("Open Sans Medium"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans Bold"), url("../fonts/OpenSans-Bold.woff") format("woff");
}

$acc-font-en: "Open Sans" !default;
$acc-font-zh: "Open Sans" !default;
$acc-vw: calc(100vw / 1024);
$acc-vh: calc(100vh / 768);

* {
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  font-size: $acc-vh;
  &.resize {
    @media (height < 768px) {
      font-size: calc(600 / 768 * 1px);
    }

    @media (height >= 768px) and (height < 960px) {
      font-size: 1px;
    }

    @media (height >= 960px) and (height < 1050px) {
      font-size: calc(960 / 768 * 1px);
    }

    @media (height >= 1050px) {
      font-size: calc(1050 / 768 * 1px);
    }
  }
}

body {
  line-height: 1.5;
  font-size: 12px;
  margin: 0;
}

.acc-root {
  font-family: "Open Sans";

  position: absolute;
  height: 100%;
  width: 100%;
}

.acc-header {
  display: flex;
  align-items: center;
  height: 60rem;
  width: 100%;
}

.acc-logo {
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 60rem;
  margin: 0 10rem;
  width: 100%;
}

.acc-screen {
  background-image: url("../images/background.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;

  height: 100%;
  width: 100%;
}

.acc-body {
  align-items: center;
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.avatar {
  width: 30%;
  height: 708rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 10rem;
}

.chat-panel {
  width: 100%;
  height: 30%;
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 10rem;
}

.customer-chat {
  height: 50%;
  background-color: white;
}

.agent-chat {
  height: 20%;
  background-color: white;
}

.agent-chat-detail {
  height: 50%;
  background-color: white;
}

.chatbot-status {
  height: 5%;
  font-size: 20px;
  background-color: transparent;
  color:chocolate
}

.button-container {
  display: flex;
}

.chatbot-button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 10rem;
  width: 200rem;
}

.agent-detail-table {
  tbody {
    tr {
      td {
        padding: 0 5rem;
        vertical-align: middle;

        .agent-detail-text {
          font-size: 17rem;
          position: relative;
          top: 6rem;
        }
      }
    }
  }
}
.avatar-image {
  width: 100%;
  object-fit: cover;
}

.dialog {
  width: 60%;
  height: 708rem;
  font-size: 2em;
  display: flex;
  justify-content: center;
  padding: 10rem;
  flex-direction: column;
  align-items: center;
  gap: 20rem;
  margin-left: 20rem;
}

.mic-icon {
  background-size: contain;
  background-repeat: no-repeat;

  height: 100rem;
  width: 100rem;

  &.mic-on {
    background-image: url("../images/mic-on.svg");
  }
  &.mic-off {
    background-image: url("../images/mic-off.svg");
  }
}

.p-component {
  font-size: 10px;
}
